*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

        body {
            background-image: url('img/girl.jpg');
            background-size: cover;
            background-position: center;
            height: 100vh; 
            display: flex;
            align-items: center;
            justify-content: center;
        }
        h2{
    color:red ;
 }



        li a btuton{
        	font-family: "monospace",sans-serif;
        	font-weight: 500;
        	font-size: 20px;
        	color: #edf0f;
        	text-decoration: none;

        }

        header{
        	display: flex;
        	justify-content: space-between;
        	align-items: center;
        	padding: 30px 10s;
        }

        .logo{
        cursor: pointer;
        }
        .text{
        	list-style: none;
        }
        .text li{
        	display: inline-block;
        	padding: 0px 20px;
        }
        .text li a{
        	transition: all0.3s ease 0s;
        }

        /*
        .text li a:hover{
        	color: #;
        }*/


        

